.end-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-wrap main {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
}

.end-wrap h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

.end-wrap .evaluation-type {
  align-self: center;
  margin: 1.2rem 0;
}

.end-wrap .or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-wrap .or p {
  white-space: nowrap;
  margin: 0 0.8rem;
}

.end-button-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.end-button {
  width: 47.5%;
}
.end-button-wrap-ended {
  justify-content: center;
}
.end-button-ended {
  width: 80%;
}

@media (max-width: 391px) {
  .end-wrap {
    justify-content: flex-start;
  }

  .end-wrap main {
    margin-top: 12.8rem;
  }
}
