.end-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-wrap main {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  /* padding-block: 1.6rem;
    padding-inline: 1.2rem; */
  padding: 1.6rem;
}

.end-wrap h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

.end-wrap .evaluation-type {
  align-self: center;
  margin: 1.2rem 0;
}

.end-wrap .or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-wrap .or p {
  white-space: nowrap;
  margin: 0 0.8rem;
}

@media (max-width: 350px) {
  .end-wrap main {
    margin-top: min(12.8rem, 20%);
  }
}
