.end {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
  margin-top: 25vh;
}

.end h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

.end .evaluation-type {
  align-self: center;
  margin: 1.2rem 0;
}

.end .or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end .or p {
  white-space: nowrap;
  margin: 0 0.8rem;
}

.end-button-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
}
.end-button {
  width: 47.5%;
}
.end-button-wrap-ended {
  justify-content: center;
}
.end-button-ended {
  width: 80%;
}
