#seller {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
}

#seller h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

#seller .evaluation-type {
  align-self: center;
  margin: 1.2rem 0;
}

#seller .or {
  align-self: center;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#seller .or p {
  white-space: nowrap;
  margin: 0 0.8rem;
}

#seller .or hr {
  background: #000;
}

.seller-button {
  margin-top: 1.4rem;
}
