#coaching-statistics {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
  /* padding-top: 0; */
}

#coaching-statistics h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

#coachings-table {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  width: 98%;
  align-self: center;
}

#history-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#coachings-table tbody {
  width: 100%;
}

#coachings-table thead .table-row {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 8fr 2fr 2fr 2fr 2fr;
}

#coachings-table tbody .table-row {
  margin-bottom: 0.8rem;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  padding: 0.4rem;
  border: 1px #fff solid;
  border-radius: 0.8rem;
}

#coachings-table tbody .table-row:hover {
  border: 1px #000 solid;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

#coachings-table .text-data {
  font-size: 1.6rem;
}

#coachings-table  .numeric-data {
  font-size: 1.2rem;
  font-family: 'Noto Sans Mono', monospace;
  justify-self: flex-end;
}

#coachings-table .date {
  display: flex;
  justify-content: flex-end;
}

#copy-btn {
  align-self: flex-end;
  width: 20%;
  font-size: 1.2rem;
}

#coachings-table a {
  text-decoration: none;
  color: #000;

}

@media (max-width: 524px) {
  #coachings-table thead .table-row .table-header {
    font-size: 1.2rem;
  }
  #coachings-table tbody .table-row .numeric-data {
    font-size: 0.8rem;
  }
  #coachings-table tbody .table-row .text-data {
    font-size: 1.2rem;
  }
}
