#coaching-statistics {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
  /* padding-top: 0; */
}

#coaching-statistics h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

#table {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  width: 98%;
  align-self: center;
}

#table tbody {
  width: 100%;
}

#table thead .table-row {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 2fr 1fr;
}

#table tbody .table-row {
  margin-bottom: 0.8rem;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  padding: 0.4rem;
  border: 1px #fff solid;
  border-radius: 0.8rem;
}

#table tbody .table-row:hover {
  border: 1px #000 solid;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

#table .text-data {
  /* grid-column-start: 1;
  grid-column-end: 5; */
  font-size: 1.6rem;
}

#table  .numeric-data {
  font-size: 1.2rem;
  font-family: 'Noto Sans Mono', monospace;
}

#table .date {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 524px) {
  #table thead .table-row .table-header {
    font-size: 1.2rem;
  }
  #table tbody .table-row .numeric-data {
    font-size: 0.8rem;
  }
  #table tbody .table-row .text-data {
    font-size: 1.2rem;
  }
}
