.inline-table-check-toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.4rem 0;
  padding: 0 0.8rem;
}

.inline-table-check-toggle .inline-table-check-toggle-label {
  align-self: flex-start;
  font-size: 2.4rem;
}

.inline-table-check-toggle .inline-table-check-toggle-buttons {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 1.2rems;
}

.inline-table-check-toggle .table-check-table-data {
  width: 95%;
  background: rgba(13, 110, 253, 0.05);
  padding: 1.2rem;
  border-radius: 4px;
  border: 1px solid rgba(13, 110, 253, 0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

@media (max-width: 355px) {
  .inline-table-check-toggle .inline-table-check-toggle-buttons {
    flex-direction: column;
    border-radius: 3px;
    overflow-y: hidden;
    padding-left: 1px;
  }
  .inline-table-check-toggle .inline-table-check-toggle-buttons .table-check {
    border-radius: 0;
  }
  .inline-table-check-toggle
    .inline-table-check-toggle-buttons
    .table-check:not(:last-child) {
    border-bottom: 0;
  }
}
