#survey-statistics {
  background: #fff;
  width: 95%;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1.6rem;
  /* padding-top: 0; */
}

#survey-statistics h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
}

#survey-statistics .survey-count {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  align-self: flex-end;
  margin: 0;
  padding: 0.6rem;
}

#survey-statistics .survey-count .countage-data {
  /* color: #0d6efd; */
  margin: 0;
  border: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}