@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto:wght@300&display=swap');

:root {
  --color-background: #d5d5d8;

  font-size: 60%;
}
* {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
body *::-webkit-scrollbar-track {
  margin-block: 4px;
  box-shadow: inset 0 0 5px #fff;
  border-radius: 8px;
}

/* Handle */
body *::-webkit-scrollbar-thumb {
  background: #c5c5c8;
  border-radius: 10px;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem "Raleway";
  color: #000;
}

main > * {
  margin-bottom: 1.2rem;
}

.icon-spin {
  cursor: progress;
  -webkit-animation: icon-spin 0.5s infinite linear;
  animation: icon-spin 0.5s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.submit-button {
  width: 50%;
  align-self: center;
}

hr {
  color: #000;
  border-radius: 1px;
  justify-self: center;
  align-self: center;
  width: 95%;
  height: 1px;
}

@media (min-width: 780px) {
  :root {
    font-size: 62.5%;
  }
}
