@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
:root {
  --color-background: #d5d5d8;

  font-size: 60%;
}
* {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

body {
  background: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem "Raleway";
  color: #000;
}

main > * {
  margin-bottom: 1.2rem;
}

.icon-spin {
  cursor: progress;
  -webkit-animation: icon-spin 0.5s infinite linear;
  animation: icon-spin 0.5s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media (min-width: 780px) {
  :root {
    font-size: 62.5%;
  }
}
